* {
    font-family: "Shippori Antique";
}

body {
    background-color: #FFC5D1;
    overflow-x: hidden;
    overflow-y: hidden;

}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Vertically center the arrow */
    text-decoration: none;
    z-index: 2; /* Ensure the arrows are above the circle and text */
}

.left-arrow {
    left: 77px;
}

.right-arrow {
    right: 77px;
}

.arrow img {
    width: 30px; /* Adjust size of the arrow image */
    height: auto; /* Maintain aspect ratio */
}

.question {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size:24px;
    text-align:center;
}