* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Shippori Antique";
}

body {
    font-family: Arial, sans-serif;
    background-color: #FD92A7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

#titlewhite {
    color: white;
    font-size: 24px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.titleblack {
    font-size: 100px;
    transition: opacity 0.5s ease, margin 0.5s ease;
}

#smallrectangle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #FFF;
    filter: blur(30px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.8s ease, height 0.8s ease;
    z-index: 0;
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FD92A7;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
    pointer-events: none;
}

.title:hover .hover-text {
    opacity: 1;
}

.title:hover #titlewhite {
    opacity: 0;
}

.title:hover #maintitle #cultural {
    margin-bottom: -200px;
}

.title:hover #maintitle #connections {
    margin-top: 9000px;
}

.title:hover ~ #smallrectangle {
    width: 750px;
    height: 750px;
    opacity: 1;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.arrow img {
    width: 30px;
    height: auto;
}

/* Animation for glowing effect */
@keyframes glow {
    0% {
        width: 120px;
        height: 120px;
    }
    50% {
        width: 160px;
        height: 160px;
    }
    100% {
        width: 120px;
        height: 120px;
    }
}

#smallrectangle {
    animation: glow 1.5s infinite ease-in-out;
}

#smallrectangle.rapid-glow {
    animation: glow 0.3s ease-in-out;
}